.ch-wrapper.flex.flex-center
    .ch-content
        .ch-social.flex.flex-space--between
            .ch-social--left.flex-col--50
                h2.ch-social--title If you can <span>dream</span> it<br> You can <span>do</span> it
                .ch-social--author Walt Disney
            .ch-social--right.flex-col--50
                .ch-social--thumb
        ul.ch-social--list.flex.flex-end
            li: a(href="").ch-social--facebook: i.fab.fa-facebook-f
            li: a(href="").ch-social--twitter: i.fab.fa-twitter
            li: a(href="").ch-social--google: i.fab.fa-google-plus
            li: a(href="").ch-social--instagram: i.fab.fa-instagram
