.ch-hero.flex.flex-space--between.flex-direction--column
    .ch-hero--header
        a(href="#").ch-hero--logo name.
    .ch-hero--content
        .ch-hero--author Blanche Walters
        h2.ch-hero--title Whate makes the quality unparalleled
        p.ch-hero--paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab velit sint nulla at ipsa obcaecati ipsam quaerat possimus saepe aut provident.
        .ch-hero--links
            a(href="").ch-hero--cta.ch-hero--accent Skip
            a(href="").ch-hero--cta Continue
    ul.ch-hero--pagination.flex.flex-align--center
        li.ch-hero--pagination__item
        li.ch-hero--pagination__item.ch-active
        li.ch-hero--pagination__item
        li.ch-hero--pagination__item