.ch-wrapper
    .ch-container
        .ch-header.flex.flex-space--between.flex-align--center
            .ch-header--left.flex.flex-align--center
                .ch-header--logo name.
                .ch-header--nav
                    .ch-header--nav__list.flex.flex-align--center
                        li: a(href="") Why Versum?
                        li: a(href="") Features
                        li: a(href="") Pricing
                        li: a(href="") Resources
            .ch-header--right
                .ch-header--links.flex.flex-align--center
                    a(href="").ch-header--cta.ch-header--login Login
                        i.fa.fa-unlock-alt
                    a(href="").ch-header--cta.ch-header--trial Start a trial
                        i.fa.fa-angle-right

        .ch-hero.flex.flex-space--between.flex-direction--column
            .ch-hero--content
                h2.ch-hero--title Work less and get more satisfied results easily.
                .ch-hero--links
                    a(href="").ch-hero--cta.ch-hero--trial Start a FREE trial
                    a(href="").ch-hero--cta Request a demo
            .ch-hero--bottom.flex.flex-space--between.flex-align--center
                .ch-hero--controls.flex.flex-align--center
                    .ch-hero--control.ch-hero--control__left: i.fa.fa-angle-left
                    .ch-hero--control.ch-hero--control__right: i.fa.fa-angle-right
                .ch-hero--author.flex.flex-align--center
                    .ch-hero--author__info
                        .ch-hero--author__name Aleksandra Madura
                        .ch-hero--author__prof Nova Hair Stylist
                    .ch-hero--author__icon: i.fa.fa-quote-right