.flex.flex-direction--column.flex-space--between.element
    header.header.flex.flex-align--center
        a(href="").header-logo BLOGX TEMPLATE

    .content
        a(href="").content-link themeforest.net
        .content-container
            .content-number 12$
            h2.content-title BlogX Template
            .content-subtitle Creative HTML &amp; CSS Template with clean and modern design
        .content-nav
            .content-nav--item Masterpiece
            .content-nav--item Minimal &amp; Creative
            .content-nav--item Responsive Layout
        

    footer.footer
        .footer-copy
            p Copyright
            p 2018 &copy; codeforeveryone
        .footer-panel
            .footer-panel--box
                .footer-panel--number
                .footer-panel--title Author
                .footer-panel--author codeforeveryone
            .footer-panel--box
                .footer-panel--number
                .footer-panel--title Envato Market
                .footer-panel--author Themeforest
            .footer-panel--box
                .footer-panel--thumb