.flex.flex-space--between.full-height
    header.header.full-height.flex.flex-space--between.flex-direction--column.flex-align--center
        a(href="").header-logo CT
        nav.header-nav
            ul.header-nav--list
                li: a(href=""): i.fa.fa-home
                li: a(href=""): i.fa.fa-star
                li: a(href=""): i.fa.fa-user
                li: a(href=""): i.fa.fa-camera
                li: a(href=""): i.fa.fa-question
                li: a(href=""): i.fa.fa-envelope
        .header-copyrights &copy; 2018
    section.content.full-height.flex.flex-center

        .wrapper
            h2.content-title Welcome at <span>CODETEMPO</span>
            .content-desc Great things happen only when you're in right place
            a(href="#").cta Double Tap
