.panel.flex.flex-space--between.full-height
    
    .panel-left.full-height
        .panel-logo codetempo
        .panel-row.flex.flex-space--between.flex-align--center
            .panel-title--block
                .panel-subtitle International
                h1.panel-title Future
            .panel-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, dolorem?

    .panel-right.full-height
        nav.panel-nav
            ul.panel-nav--list
                li: a(href="") Home
                li: a(href="") About
                li: a(href="") Portfolio
                li: a(href="") Contact

    .panel-bottom.flex(style="background-image: url(https://images.unsplash.com/photo-1516462957063-63a5425ef224?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fa9958b24e8b74dc81fa7239866c99b&auto=format&fit=crop&w=1522&q=80)")
        h2.panel-bottom--title Fashion Empire
        .panel-bottom--block
            span Want To Be a Beauty?
            a(href="") 
                | Details
                i.fa.fa-arrow-right
    