.flex.flex-direction--column.flex-space--between.element
    header.header.flex.flex-space--between.flex-align--center
        a(href="").header-logo APPAREL FUSION
        .header-menu
            .header-menu--name MENU
            .header-menu--burger
                .header-menu--burger__line
                .header-menu--burger__line
                .header-menu--burger__line

    .content
        a(href="").content-link codemerch.com
        .content-container
            .content-number 02
            h2.content-title Apparel Fusion
            .content-subtitle By combining two popular shirts a new masterpiece is created
        .content-nav
            .content-nav--item Masterpiece
            .content-nav--item Apparel Fusion
            .content-nav--item Sneakers Fusion
        

    footer.footer
        .footer-copy
            p Copyright
            p 2018 &copy; John Doe
        .footer-panel
            .footer-panel--box
                .footer-panel--number
                .footer-panel--title Top Model
                .footer-panel--author Nike Runner
            .footer-panel--box
                .footer-panel--number
                .footer-panel--title Sole Model
                .footer-panel--author Roshe Copper
            .footer-panel--box
                .footer-panel--thumb