.fr-featured
    a(href="").fr-featured--title Lorem ipsum dolor sit amet.
    .fr-featured--date 02 jan 2018
    
    
.fr-blog.flex.flex-space--between
    .fr-blog--content
        .fr-blog--article
            a(href="#").fr-blog--article__title Hello There
            .fr-blog--article__excerpt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos nobis nihil ad explicabo error neque vitae id blanditiis nulla impedit.
            .fr-blog--article__meta
                .fr-blog--article__date 02 jan 2018
        .fr-blog--article
            a(href="#").fr-blog--article__title Hello There
            .fr-blog--article__excerpt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos nobis nihil ad explicabo error neque vitae id blanditiis nulla impedit.
            .fr-blog--article__meta
                .fr-blog--article__date 02 jan 2018
        .fr-blog--article
            a(href="#").fr-blog--article__title Hello There
            .fr-blog--article__excerpt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos nobis nihil ad explicabo error neque vitae id blanditiis nulla impedit.
            .fr-blog--article__meta
                .fr-blog--article__date 02 jan 2018


    .fr-blog--author.flex.flex-space--between.flex-align--center
        .fr-blog--author__thumb
        .fr-blog--author__info
            .fr-blog--author__name Fill Nurray 
            .fr-blog--author__desc Lorem ipsum dolor sit amet est esse tempora consequatur voluptas ut velit. Accusantium repellat nihil ad praesentium!