//START HEADER-1

header.fr-header.flex.flex-space--between.flex-align--center
    .fr-header--left
        a(href="").fr-header--logo name.
    .fr-header--right
        nav.fr-header--nav
            ul.fr-header--nav__list.flex.flex-align--center
                li: a(href="") Home
                li: a(href="") About
                li: a(href="") Portfolio
                li: a(href="") Contacts
 

//START HEADER-2

header.rf-header.flex-center.flex-direction--column
    .rf-header--top
        a(href="").rf-header--logo name.
    .rf-header--bottom
        nav.rf-header--nav
            ul.rf-header--nav__list.flex.flex-align--center.flex-center
                li: a(href="") Home
                li: a(href="") About
                li: a(href="") Portfolio
                li: a(href="") Contacts

//START HEADER-3
header.rh-header.flex.flex-direction--column.flex-space--between
    a(href="").rh-header--logo name.
    ul.rh-header--nav__list
        li: a(href="") Home
        li: a(href="") About
        li: a(href="") Portfolio
        li: a(href="") Contacts
    .rh-header--copy Copyrights &copy; 2018
