//START CONTENT
section.fr-portfolio
    .fr-container
        .fr-portfolio--thumb
        h2.fr-portfolio--welcome Hello. My name is ...
        p.fr-portfolio--about Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam numquam expedita odio quibusdam harum, iure quod laudantium incidunt? Voluptate quasi mollitia quo repellendus dolorem accusamus rem illum praesentium dicta asperiores.
        ul.fr-portfolio--social.flex.flex-center
            li: a(href=""): i.fab.fa-facebook
            li: a(href=""): i.fab.fa-twitter
            li: a(href=""): i.fab.fa-instagram
        .fr-portfolio--list.flex.flex-space--between
            a.fr-portfolio--item(href="#" style="background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=495705ce4fffc406c4c9fc09b13a6db9&auto=format&fit=crop&w=1050&q=80)")
            a.fr-portfolio--item(href="#" style="background-image: url(https://images.unsplash.com/photo-1505933112018-aae873439d01?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1c8304a421757476a230740fd265af5&auto=format&fit=crop&w=1031&q=80)")
            a.fr-portfolio--item(href="#" style="background-image: url(https://images.unsplash.com/photo-1503639813989-b5ba643d7f13?ixlib=rb-0.3.5&s=c5ce837c5f63acf0b157d9b7cc3b84c7&auto=format&fit=crop&w=1051&q=80)")
            a.fr-portfolio--item(href="#" style="background-image: url(https://images.unsplash.com/photo-1509835929006-a7b0f675dd46?ixlib=rb-0.3.5&s=0f893afae2c2d20da538196004a94e3c&auto=format&fit=crop&w=1055&q=80)")
            a.fr-portfolio--item(href="#" style="background-image: url(https://images.unsplash.com/photo-1516558257964-58b552a6e4c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e003d7db8483e30ed4c41f392634018&auto=format&fit=crop&w=564&q=80)")
            a.fr-portfolio--item(href="#" style="background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=495705ce4fffc406c4c9fc09b13a6db9&auto=format&fit=crop&w=1050&q=80)")