//START BUTTON-1

.fr-wrapper.flex.flex-center
    .fr-content
        a(href="").btn.btn-1 button
        a(href="").btn.btn-2 button
        a(href="").btn.btn-3 button
        a(href="").btn.btn-4: span button